[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=lalit
Group=lalit
WorkingDirectory=/home/lalit/app/src/
Environment="PATH=/home/lalit/app/venv/bin"
EnvironmentFile=/home/lalit/.env
ExecStart=/home/lalit/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
